@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  width: 100%;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background-color: #eae9e8;
}

@layer utilities {
  .section {
    @apply mx-auto mt-12 w-[90%] max-w-4xl scroll-mt-[300px] text-xl md:mt-20 md:w-[initial] md:text-2xl;
  }

  .sectionTitle {
    @apply mb-5 text-center text-2xl font-bold md:text-3xl;
  }
}
